#top-bar {
  display: flex;
  width: 100%;
  height: 50px;
}

#videos {
  display: flex;
  flex-wrap: wrap;
}

.video {
  border: 1px solid grey;
  margin: 15px;
  padding: 5px;
  width: 200px;
}

.video img {
  width: 200px;
}

.video .title {
  text-align: center;
}

.hidden {
  display: none;
}
